website/DataSender/Service References/Requester/MyService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://Vanct.vn/SOAP/Report" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://Vanct.vn/SOAP/Report" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://Vanct.vn/SOAP/Report/Imports">
      <xsd:import schemaLocation="http://localhost/Vanct/Webservice/MyService.svc?xsd=xsd0" namespace="http://Vanct.vn/SOAP/Report" />
      <xsd:import schemaLocation="http://localhost/Vanct/Webservice/MyService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Vanct_SyncData_InputMessage">
    <wsdl:part name="parameters" element="tns:SyncData" />
  </wsdl:message>
  <wsdl:message name="Vanct_SyncData_OutputMessage">
    <wsdl:part name="parameters" element="tns:SyncDataResponse" />
  </wsdl:message>
  <wsdl:message name="Vanct_CheckOnlineStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckOnlineStatus" />
  </wsdl:message>
  <wsdl:message name="Vanct_CheckOnlineStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckOnlineStatusResponse" />
  </wsdl:message>
  <wsdl:message name="Vanct_SyncDailyData_InputMessage">
    <wsdl:part name="parameters" element="tns:SyncDailyData" />
  </wsdl:message>
  <wsdl:message name="Vanct_SyncDailyData_OutputMessage">
    <wsdl:part name="parameters" element="tns:SyncDailyDataResponse" />
  </wsdl:message>
  <wsdl:portType name="Vanct">
    <wsdl:operation name="SyncData">
      <wsdl:input wsaw:Action="http://Vanct.vn/SOAP/Report/Vanct/SyncData" message="tns:Vanct_SyncData_InputMessage" />
      <wsdl:output wsaw:Action="http://Vanct.vn/SOAP/Report/Vanct/SyncDataResponse" message="tns:Vanct_SyncData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckOnlineStatus">
      <wsdl:input wsaw:Action="http://Vanct.vn/SOAP/Report/Vanct/CheckOnlineStatus" message="tns:Vanct_CheckOnlineStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://Vanct.vn/SOAP/Report/Vanct/CheckOnlineStatusResponse" message="tns:Vanct_CheckOnlineStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SyncDailyData">
      <wsdl:input wsaw:Action="http://Vanct.vn/SOAP/Report/Vanct/SyncDailyData" message="tns:Vanct_SyncDailyData_InputMessage" />
      <wsdl:output wsaw:Action="http://Vanct.vn/SOAP/Report/Vanct/SyncDailyDataResponse" message="tns:Vanct_SyncDailyData_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>